*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg); */
    background: rgba(0,0,0,0.8)50%;
    /* background: #000; */
    background-position: center;
    background-size: cover;
    
}

.navbar{
    background: rgba(0,0,0,0.85)50%;   
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
  
    background: #ff7200;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 13px;
    margin-bottom: 10px;
}
.btn:hover{
    color: #000;
    
    background-color: #52dc54;
}

/* .btn:focus{
    outline: none;
} */

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
   
    background: #ff7200;
    border: none;
   
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}
.content-img img{
    max-width: 100%;
    width:500px;
    height:auto;
    border-radius:10px;
    margin: 10px;
}
form {
  padding: 1em;
  background: #f9f9f9;
  border: 3px solid #ff7200;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  /* border: #ff7200; */
  border-radius: 3%;
}
form input {
  margin-bottom: 1rem;
  background: #fff;
  /* border: 1px solid #9c9c9c; */
  border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 15px;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
form select{
    /* border: none; */
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
}


label {
  text-align: left;
  display: block;
  font-size: 20px;
  padding: 0.5em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
  /* border: none; */
  border-bottom: #ff7200;
  
}

/* form{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    width: 50%;
    height:85vh; */
    /* background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%); */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    /* margin-top: 150px;
    margin-left: 500px; 
    transform: translate(0%,-5%);
    border-radius: 10px; */
    /* padding: 30px; */
    /* max-width: 600px; */
    /* padding: 20px; */
    /* background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
/* }
.form label{
    color: #000;
    font-size: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{ */
    /* width: 240px;
    height: 35px; */
    
    /* background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}


*/

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}