<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo" style="font-size: 50px;">HealthPlan</h1>
            </div>
            
            <div class="menu" style="margin-left: 100px;">
                <ul >
                    
                    <!-- <li><a href="#" style="font-size: 20px;">HOME</a></li> -->
                    <!-- <li><a href="#">ABOUT</a></li> -->
                    <li><a href="blog.html" style="font-size: 20px;">BLOG</a></li>
                    <li><a href="predict.html" style="font-size: 20px;">PREDICT</a></li>
                    <li><a href="contact.html" style="font-size: 20px;">CONTACT</a></li>
                </ul>
            </div>
        </div> 
        <div class="content" >
            <br>
            <h1>When it comes to your <br><span>Health</span> we've got you covered</h1>
            <p class="par" style="line-height: 3;">
                <br>
                Welcome to HealthPlan, an interactive platform for predicting personalized health insurance plans! Our cutting-edge technology combines data analytics and machine learning algorithms to provide you with accurate and customized predictions. Simply input your personal information, such as age, medical history, and lifestyle choices, and let our platform do the rest. Through our intuitive interface, you'll receive real-time recommendations tailored to your specific needs and budget. We understand that choosing the right health insurance plan can be overwhelming, but with HealthPlan, you can make informed decisions confidently. Take control of your health and secure your future with our interactive prediction tool today!
            
            </p>
                <div style="display: flex; justify-content: end; align-items: center;">

                    <button class="cn" ><a href="predict.html">Check Now</a></button>
                </div>

            
                    </div>
                </div>
        </div>
        
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>